<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" />

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light color" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Spring library</a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/books">Books<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="collapse navbar-text">
            <span th:inline="text" style="margin-right: 20px">Hello, [[${#httpServletRequest.remoteUser}]]!</span>
            <form th:action="@{/logout}" method="post" style="display: inline-block">
                <button type="submit" class="btn btn-light btn-sm">Sign Out</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>A list of books</h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
        <br>
        <button type="button" class="btn btn-primary" onclick="location.href = '/books/add';">Add book</button>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>ISBN</td>
                <td>Name</td>
                <td>Author</td>
                <td>Who take</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <!--<tr th:if="${users}">-->
            <!--<td colspan="4">No tasks</td>-->
            <!--</tr>-->
            <tr th:each="book : ${books}">
                <td th:text="${book.getIsbn()}"></td>
                <td th:text="${book.getName()}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td>
                    <div th:if="${book.getWho_take() == null}">
                        <form method="POST">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}" />
                            <input type="hidden"
                                   th:name="type"
                                   th:value="take" />
                            <input type="hidden" name="isbn" th:value="${book.getIsbn()}" />
                            <input type="hidden" name="login" th:value="${#request.remoteUser}" />
                            <button type="submit" class="btn btn-secondary">Взять</button>
                        </form>
                    </div>
                    <div th:if="${book.getWho_take() != null} and ${book.getWho_take().getLogin()} != ${#request.remoteUser}">
                        <span th:text="${book.getWho_take().getLogin()}"></span>
                    </div>
                    <div th:if="${book.getWho_take()} != null and ${book.getWho_take().getLogin()} == ${#request.remoteUser}">
                        <form method="POST">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}" />
                            <input type="hidden"
                                   th:name="type"
                                   th:value="return" />
                            <input type="hidden" name="isbn" th:value="${book.getIsbn()}" />
                            <input type="hidden" name="login" th:value="${#request.remoteUser}" />
                            <button type="submit" class="btn btn-secondary">Вернуть</button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form method="POST">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}" />
                            <input type="hidden"
                                   th:name="type"
                                   th:value="delete" />
                            <input type="hidden" name="isbn" th:value="${book.getIsbn()}" />
                            <input type="hidden" name="login" th:value="${#request.remoteUser}" />
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div><!-- /.container -->


</body>
</html>