<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Войти</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/signin.css}" href="/css/signin.css" />
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Войдите</h1>
    <div th:if="${param.error}">
        Неправильные логин или пароль
    </div>
    <div th:if="${param.logout}">
        Вы вышли из системы.
    </div>
    <label for="username" class="sr-only">Логин</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Логин" required autofocus>
    <label for="password" class="sr-only">Пароль</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
</body>
</html>